@font-face {
	font-family: 'SegoeUIRegular';
	src: url('../fonts/SegoeUIRegular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'SegoeUIBold';
	src: url('../fonts/SegoeUIBold.woff') format('woff');
	font-style: normal;
	font-weight: 800;
}

body{
	background-color: #6c6c6c;
	text-align: center;
}

.wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 1920px;
	max-height: 1892px;
	box-sizing: border-box;
}

.black-section {	
	width: 100%;
	height: 850px;
	background-color: #23232e;
	box-sizing: border-box;
	padding-top: 80px;
}

.white-section {
	width: 100%;
	height: 1042px;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 125px;
}

.logo {
	max-width: 100%; 
	height: auto;
	margin-bottom: 163px;

}

.header-on-black {
	font: 800 normal 80px 'SegoeUIBold';
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 50px;
}

.text-on-black {
	width: 450px;
	margin: 0 auto 165px;
	white-space: pre-wrap;
	font: 400 normal 18px 'SegoeUIRegular';
	color: #fff;
	line-height: 1.8;
}

.arrow-down {
	background: none;
	color: #ffffff;	
	height: 45px;
	width: 45px;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.arrow {
	display: inline-block;
	font: 400 normal 20px 'SegoeUIRegular';
	text-transform: uppercase;
	transform: scaleY(.5);
}

.text-on-white {
	width: 865px;
	margin: 0 auto;
	white-space: pre-wrap;
	font: 400 normal 30px/1.4 'SegoeUIRegular';
	color: #464b4f;
	margin-bottom: 94px;
}

.header-on-white {
	font: 800 normal 80px 'SegoeUIBold';
	text-transform: uppercase;
	color: #464b4f;
	margin-bottom: 82px;
}

.flex-content {
	width: 950px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	
}

.column {
	width: 290px;
	float: left;	
}

.column-header {
	font: 800 normal 18px 'SegoeUIBold';
	text-transform: uppercase;
	text-align: left;
	color: #464b4f;
	margin-bottom: 20px;
}

.column-text {
	font: 400 normal 18px/1.6 'SegoeUIRegular';
	color: #888a8b;
	text-align: left;
}